<nav class="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a routerLink="/lugares">Lugares</a></li>
		<li class="breadcrumb-item">Contacto</li>
	</ol>
</nav>
<div class="container">
	<label>Nombre</label>
	<input type="text" class="form-control">
	<br>
	<label>Correo</label>
	<input type="email" class="form-control">
	<br>
	<label>Mensaje</label>
	<textarea cols="30" rows="10" class="form-control"></textarea>
	<hr>
	<a class="btn btn-primary" href="#" role="button">Enviar</a>
	<a class="btn btn-light" routerLink="/lugares" role="button">Cancelar</a>
</div>